<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/j2ee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee
         http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
         version="2.4">
    
    <display-name>simple-maven-pj</display-name>
    
    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>

    <servlet>
        <servlet-name>HelloServlet</servlet-name>
        <servlet-class>com.example.HelloServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>HelloServlet</servlet-name>
        <url-pattern>/hello</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>JndiCheckServlet</servlet-name>
        <servlet-class>com.example.JndiCheckServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>JndiCheckServlet</servlet-name>
        <url-pattern>/__jndi</url-pattern>
    </servlet-mapping>

    <resource-ref>
        <description>PostgreSQL datasource</description>
        <res-ref-name>jdbc/demo_db</res-ref-name>
        <res-type>javax.sql.DataSource</res-type>
        <res-auth>Container</res-auth>
    </resource-ref>

    <resource-ref>
        <description>PostgreSQL (cmmdb) datasource</description>
        <res-ref-name>jdbc/a1_dms_cmmdb</res-ref-name>
        <res-type>javax.sql.DataSource</res-type>
        <res-auth>Container</res-auth>
    </resource-ref>

    <resource-ref>
        <description>MySQL (BI) datasource</description>
        <res-ref-name>jdbc/a1dms_bi</res-ref-name>
        <res-type>javax.sql.DataSource</res-type>
        <res-auth>Container</res-auth>
    </resource-ref>

</web-app>
