name: Trivy Workflow CI

on:
  workflow_dispatch:
  push:
    branches:
      - "test-trviy-to-summary"

env:
  APP_PJ_PREFIX: "blank"
  PACKAGE_USERNAME: ${{ secrets.PACKAGE_USERNAME }}
  PACKAGE_REPO_TOKEN: ${{ secrets.PACKAGE_REPO_TOKEN }}
  TRIVY_DB_REPOSITORY: "ghcr.io/aquasecurity/trivy-db,public.ecr.aws/aquasecurity/trivy-db"
  TRIVY_JAVA_DB_REPOSITORY: "ghcr.io/aquasecurity/trivy-java-db,public.ecr.aws/aquasecurity/trivy-java-db"

permissions:
  id-token: write
  contents: write

concurrency:
  group: "pages"
  cancel-in-progress: false

jobs:

  trivy:
    runs-on: ubuntu-latest
    timeout-minutes: 30
    steps:
      - name: Checkout current branch
        uses: actions/checkout@v4
        with:
         ref: ${{ github.ref }}

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
         distribution: 'adopt'
         java-version: 17
         cache: 'gradle'

      - name: Generate Gradle lock files
        run: |
         ./gradlew dependencies --write-locks

      - name: Build jar file
        run: |
         ./gradlew clean build -x test 
        
      - name: Run Trivy scanner
        uses: aquasecurity/trivy-action@master
        with:
         scan-type: 'fs'
         scan-ref: '.'
         ignore-unfixed: false
         vuln-type: 'os,library'
         severity: 'CRITICAL,HIGH,MEDIUM'
         scanners: vuln
         timeout: 30m0s
         hide-progress: true
         output: trivy.txt
        continue-on-error: true

      - name: Publish Trivy Output to Summary
        run: |
          if [[ -s trivy.txt ]]; then
            {
              echo "### Security Output"
              echo "<details><summary>Click to expand</summary>"
              echo ""
              echo '```terraform'
              cat trivy.txt
              echo '```'
              echo "</details>"
            } >> $GITHUB_STEP_SUMMARY
          fi

      - name: Run Trivy vulnerability scanner with 'sarif' output
        uses: aquasecurity/trivy-action@master
        with:
         scan-type: 'fs'
         scan-ref: '.'
         format: 'sarif'
         output: 'trivy-results.sarif'
         exit-code: 1
         ignore-unfixed: false
         vuln-type: 'os,library'
         severity: 'CRITICAL,HIGH,MEDIUM'
         scanners: vuln
         timeout: 30m0s
         skip-setup-trivy: true
        continue-on-error: true

      - name: Upload Trivy scan results to GitHub Security tab
        uses: github/codeql-action/upload-sarif@v3
        with:
         sarif_file: 'trivy-results.sarif'
       